<%= render 'layouts/header' %>
<div class="container">
  <%= bootstrap_flash %>
<table class='table table-striped'>
  <% Dir["public/tmp/records/*.*"].each do |file| %>
    <tr>
      <td><%= link_to file[/[A-Za-z0-9_\.]*$/], file.gsub('public', '') %></td>
  </tr>
  <% end %>
</table>
</div>
