<%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div class="hero-unit">
    <h2>Help - UCL Tricerashopper</h2>
    <p>Tricerashopper is the collection development portal for the University of Cincinnati Libraries. This site includes several services for selectors including LMLO report, Materials Orer Form, and DDA Expenditure Report.</p></div>
</div>
  <h4>Accounts</h4>
  <p>Contact <%= mail_to 'crowesn@ucmail.uc.edu', 'Sean Crowe' %> for account creation and password assistance. Tricerashopper is not integrated with the University Central Login system. </p>
  <h4>Materials Order Form</h4>
  <p>The materials order form and index allows selectors to submit materials requests and monitor their progress. The index of orders shows title, author, fund, cost, date, and workflow status. Initial order requests are created with a status of new and the form will generate an email confirmation, sent to the requestor and cc'd to site administrators. All order URLs are stable as well as the order form. Requests are reviewed by Content Services staff and processed in the order submitted.</p> <p>Materials can be requested by Selectors or assistants with delegation and review by selectors. Contact Content Services if you are a selector and you interested in delegating permission to request materials through the form.</p>
      <h4>Lost, Missing, Long Overdue (LMLO)</h4>
      <p>The LMLO index lists materials that have been marked lost or missing and require review for replacement decision. The index has search and faceting by location and class. The report runs automatically once and month and generates notification emails for selectors. The emails include a structured URL which limits by location. The review period will last one month - at the end of the month, materials that have not been selected for replacement <b>will be marked for batch withdrawal from the catalog.</b></p>
      <h4>DDA Expenditure Report</h4>
      <p> TBA</p>
      <h4>Contact</h4>
      <p>Questions and requests to <%= mail_to 'crowesn@ucmail.uc.edu', 'Sean Crowe' %> or <%= mail_to 'vanmiljf@ucmail.uc.edu', 'James Van Mil' %>.</p>
    
    </div>
