  <div class="container">
    <div class="row">
      <div class="hero-unit">
    <h2>Help - UCL Tricerashopper</h2>
    <p>Tricerashopper is the collection development portal for the University of Cincinnati Libraries. This site includes several services for selectors including LMLO report, Materials Orer Form, and DDA Expenditure Report.</p></div>
</div>
  <h4>Accounts</h4>
  <p>Contact <%= mail_to 'vanmiljf@ucmail.uc.edu', 'James Van Mil' %> for account creation and password assistance. Tricerashopper is not integrated with the University Central Login system. </p>
    <h4>Materials Order Form</h4>
    <p>The materials order form and index allows selectors to submit purchase requests and monitor their progress. The index of orders shows title, author, fund, cost, date, and workflow status. Initial order requests are created with a status of <i>new</i>. The form will generate an email confirmation, sent to the requestor and cc'd to site administrators. All URLs are stable for individual orders as well as the order form. Requests are reviewed by Content Services staff and processed in the order submitted.</p>
    <p>Materials can be requested by Selectors or assistants (with delegation and review by selectors). Contact Content Services if you are a Selector and you interested in delegating permission to request materials through the form.</p>
      <h4>Lost, Missing, Long Overdue (LMLO)</h4>
      <p>The LMLO index lists materials that have been marked lost or missing and require review for replacement decision. The index offers search and faceting by location and class. The report runs automatically once and month and generates notification emails for selectors. The emails include a structured URL which limits by location. The review period will last one month - at the end of the month, materials that have not been selected for replacement <b>will be marked for batch withdrawal from the catalog.</b></p>
      <h4>DDA Expenditure Report</h4>
      <p> TBA</p>
      <h4>Contact</h4>
      <p>Questions and requests to <%= mail_to 'vanmiljf@ucmail.uc.edu', 'James Van Mil' %>.</p>

      <% if current_user.instance_of? Admin %>
        <ul class="nav nav-list">
      <li class="divider"></li>
    </ul>    <h2>Admin Functions</h2>
    <h4>Order Workflow States</h4>
    <p>Orders have one of several workflow states and available actions to support the acquisitions workflow.</p>
  <p>For administrators, each status has a list of available actions to change status.</p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>State</th>
          <th>Available Actions</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
         <tr>
        <td>Provisional</td>
        <td>Approve, Reject</td>
        <td>Tricerashopper includes <i>Assistant</i> accounts that are authorized to create provisional materials reqeusts for review by selectors. Assistant requests are entered with a <i>Provisional</i> workflow state, Selectors must select Approve (-> New), or, Reject (-> Rejected) actions to move the order forward.</td>
      </tr>
        <tr>
        <td>New</td>
        <td>Marc yes po, Marc no po, Ordered, Reject, Temporary hold</td>
        <td>New is the default status for incoming orders submitted by selectors.</td>
      </tr>
      <tr>
        <td>Marc yes po</td>
        <td>Marc no po, Ordered, Temporary hold</td>
        <td>Orders with this status are queued for batch MARC record generation, records will print a PO when loaded into Sierra.</td>
      </tr>
      <tr>
        <td>Marc no po</td>
        <td>Marc yes po, Ordered, Temporary hold</td>
        <td>Orders with this status are queued for batch MARC record generation, records will NOT print a PO when loaded into Sierra.</td>
      </tr>
      <tr>
        <td>Ordered</td>
        <td>Temporary hold</td>
        <td>Status for orders that have been processed and officially ordered.</td>
      </tr>
     <tr>
        <td>Rejected</td>
        <td>Temporary hold</td>
        <td>Rejected status is for order requests that have been rejected.</td>
      </tr>
      <tr>
        <td>Temporary hold</td>
        <td>Marc yes po, Marc no po, Ordered, Reject</td>
        <td>Use Temporary hold status to hold orders for quesons/other actions.</td>
      </tr>
    </tbody>
  </table>

    <h4>MARC record download</h4>
    <p>Orders with a workflow state of <i>MARC queue yes po</i> or <i>MARC queue no po</i> will be processed into MARC records for loading into Sierra. Click <i>Download MARC</i> button on the index page to generate two separate MARC files: one for print PO and one for no print PO. Use the respective loaders in Sierra to input the records.</p>
      <% end %>

    </div>
