<%- model_class = Problem %>
<div id="facets">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <h4>Problem type</h4>
      <% for facet in @problem_facets %>
        <li>
        <% if params[:type].blank? %>
          <%= link_to model_class.human_attribute_name(facet[0]), type: facet[0] %>
        <% else %>
          <%= link_to "#{model_class.human_attribute_name(facet[0])} (remove)", request.params.merge({type: nil, page: nil}) %>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
