<%- model_class = Problem -%>
<html>
<%= render 'layouts/header' %>
<body>
<div class="container-fluid">
  <h1> <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%=render 'results_body' %>
  <br>

</div>
</body>
</html>
