  <div class="container">
  <div class="span9">
    <h2>Marc Record Processing</h2>
    <p class="lead">Upload Arkive invoices in *.xlsx format</p>

    <div class="hero-unit">   
      <%= form_tag marc_uploads_create_path, { :multipart => true } do %>
        <p>
 
    <%= bootstrap_flash %>
    <%= file_field_tag 'upload[file]' %> 
    </p>
    <p>
      <%= submit_tag "Upload", class: "btn btn-default" %>
    </p>
  <% end %>
</div>
</div>
</div>
