<div class="input-append">
  <%= form_tag losts_path, :method => :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil, class: 'btn btn-default' %>
  <% end %>
</div>
