<div class="container">
 <h2>Lost, Missing, Long-overdue</h2>
 <div class="lost-search">
   <%= render "search_box" %>
 </div>
 <div class="row lost-content">
   <div class="col-md-3">
     <%= render "facets" %>
   </div>
   <div class="col-md-9">
     <%= render "results_body" %>
   </div>   
 </div>   
    <div class="row">
      <div class="pagination">
         <%= will_paginate @search.hits, renderer: BootstrapPagination::Rails %>
      </div>
   </div>
</div>
