<%- model_class = Order %>
<div class="btn-group dropup">
      <% if @order.current_state == :provisional %>
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <%= "Current: #{model_class.human_attribute_name(@order.current_state)}" %> 
        <span class="caret"></span>
      </a>
          <ul class="dropdown-menu">
           <% @order.current_state.events.keys.each do |i| %> 
             <li> <%= link_to model_class.human_attribute_name(i), "#{root_url}/orders/#{@order.id}/#{i}", method: :put, data: {confirm: 'Are you sure?'}
           %> </li>
           <% end %>
         </ul>
       <% else %>
         <%= link_to "Status: #{model_class.human_attribute_name(@order.current_state)}", '', class: 'btn disabled' %>
    <% end %>
</div>
